/* table,td,tr{
background-color :2px solid black;
} */
table,th,td 
{
    border:2px solid black;
    background-color:lightblue;
    
}
/* td{
    border:2px solid black;
}
th{
    border:2px solid black;
} */
th:hover{
    background-color:white;
}
.same:hover{
    background-color: blue;
}
.same2:hover{
    background-color: yellow;
}

.same3:hover{
    background-color: pink;
}
.same4:hover{
    background-color: orangered;
}
.same5:hover{
    background-color: purple;
}
.same6:hover{
    background-color: teal;
}